.main {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  margin: 0;

  font-feature-settings: 'liga' off;

  /* Szürke 3 */

  color: #5C5955;
}