.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 16px 0px;
  gap: 10px;

  width: 1015px;
  height: 440px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

  border-bottom: solid 1px #000;
}

.headline {
  font-family: 'Times New Roman';
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  /* identical to box height, or 22px */


  /* Sötét */

  color: #292219;
}

.primarynews{
  /* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 1015px;
height: 408px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.content{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 325px;
height: 393px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.newsimages{
  /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 670px;
height: 408px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.image {
  width: 670px;
  height: 390px;

  background: url("./america-inequality-coronavirus-1587146011346-facebookJumbo.png");
}