.main {
 /* 25 Feb 2021 */


 width: 100%;
 
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 12px;
 line-height: 14px;
 /* identical to box height */
 
 font-feature-settings: 'liga' off;
 margin:0;
 /* Szürke 2 */
 
 color: #94908C;
}