.main {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */

  font-feature-settings: 'liga' off;

  /* Szürke 2 */

  color: #94908C;
}